@import '~styles/param';

.nav {
  background: #f9f9f9;
  height: 56px;
  border-bottom: 1px solid #e6e6e6;
  z-index: 2;
  width: 100%;
  position: fixed;
  top: 0;

  .header {
    padding: 12px 0 13px;
    margin: 0 auto;
    max-width: $nav-width;
    overflow: hidden;

    a {
      display: inline-block;
      color: #3c3c3c;
      letter-spacing: 0.5px;
      font-weight: 500;

      &:hover {
        color: #22ab28;
        transition: 0.6s all;
      }

      &.highlight {
        color: #22ab28;
        font-weight: bold;
      }
    }
  }

  .logo {
    margin: 0;
    float: left;
    padding-top: 2px;

    img {
      width: 32px;
      height: 32px;
      vertical-align: middle;
    }

    strong {
      padding-left: 10px;
      font-size: 24px;
      font-family: fantasy, Frutiger;
    }
  }

  .version {
    position: absolute;
    right: 20px;
    top: 18px;
    width: 100px;
    height: 32px;
    display: inline-block;
    background-image: url('https://img.shields.io/npm/v/gem-mine.svg');
    background-repeat: no-repeat;
  }

  .items {
    float: right;
    overflow: hidden;
    height: 100%;
    line-height: 32px;
    padding-right: 150px;

    li {
      display: inline-block;
      margin-left: 60px;
    }
  }
}
