@import '~styles/param';

.main {
  position: relative;
  min-height: 600px;
  max-width: $nav-width;
  min-width: 800px;
  margin: 0 auto;

  .box {
    top: 100px;
    top: calc(50% - 160px);
    position: absolute;
  }

  .info {
    position: absolute;
    width: 420px;
    left: 20px;
  }

  .logo {
    position: absolute;
    left: 600px;

    img {
      width: 320px;
      height: 320px;
    }
  }

  .title {
    font-size: 36px;
    letter-spacing: 1.5px;
    margin-bottom: 10px;

    h3 {
      font-size: 48px;
      font-weight: bold;
      margin-bottom: 20px;
    }

    p {
      font-weight: 200;
      margin-bottom: 15px;
    }

    span {
      font-size: 32px;
    }
  }

  .btns {
    margin-top: 24px;
  }

  .btn {
    display: inline-block;
    height: 38px;
    width: 120px;
    border-radius: 19px;
    line-height: 38px;
    letter-spacing: 0.5px;
    text-align: center;
    font-weight: normal;
    margin-right: 10px;
    border: 1px solid #22ab28;
    color: #22ab28;
    outline: none;
    cursor: pointer;

    &:hover {
      color: #fff;
      background: #42bd48;
      border-color: #0e5f12;
      transition: all 0.3s;
    }
  }

  .primary {
    background: #22ab28;
    border-color: #209425;
    color: #fff;
  }
}
